.bc-reset-password-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 8px; }

.bc-reset-password-form--succeeded .bc-reset-password-form__inner {
  display: none; }

.bc-reset-password-form--success-message {
  display: none; }
  .bc-reset-password-form--succeeded .bc-reset-password-form--success-message {
    display: block; }

body {
  background: #EEF5F4;
  background: #EEF5F4;
  font-family: "Hiragino Sans", "Helvetica", sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0; }
  body.bc-site-menu--visible {
    overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
