{% macro sign_up_form() %}
  <div class="bc-sign-up-form-pane">
    <div class="bc-sign-up-form-pane__actions">
      {{ button(text="&times; Close", class="bc-button--size-s bc-sign-up-form-pane-hide-trigger") }}
    </div>
    <form name="bcSignUpForm" action="" method="POST" id="bc-sign-up-form">
      <div class="bc-long-form-text">
        {% filter markdown %}
          ### Create your account
        {% endfilter %}
      </div>
      {% call form_field_group() %}
        {{ form_label(for="bc-sign-up-form-email", label="Email") }}
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="email" id="bc-sign-up-form-email" type="email" tabindex="-1">
      {% endcall %}

      {% call form_field_group() %}
        {{ form_label(for="bc-sign-up-form-password", label="Create Password") }}
        <input name="password" id="bc-sign-up-form-password" type="password" tabindex="-1">
      {% endcall %}

      {% call form_field_group() %}
        {{ form_label(for="bc-sign-up-form-password-confirm", label="Confirm Password") }}
        <input name="passwordConfirm" id="bc-sign-up-form-password-confirm" type="password" tabindex="-1">
      {% endcall %}

      {% filter markdown %}
        ### Interested in More Features?
        A Brickulator Plus Account includes the following:
        * Automatically add your sales tax to purchase price
        * Customize the results screen - only see the listings and marketplaces you care about
        * Removes All Ads

        <p class="bc-long-form-text__cta">
          Special introductory price: 
          <span class="bc-long-form-text__cta-price">
            <strike>$3.99</strike> $1.99 USD / mo.
          </span>
        </p>
      {% endfilter %}

      {% call form_radio_button_group(label="Want Brickulator Plus?") %}
        {{ form_radio_button(name="accountType", id="bc-account-type-plus", value="plus", label="Yes! Sign Me Up.") }}
        {{ form_radio_button(name="accountType", id="bc-account-type-free", value="free", label="No Thanks, just create a FREE Brickulator Account") }}
        {{ form_radio_button(name="accountType", id="bc-account-type-email", value="email", label="Email me more about this later", checked=true) }}
      {% endcall %}

      {{ button(type="submit", text="Sign Up", class="bc-button--primary bc-sign-up-form__submit-button") }}
    </form>
  </div>
{% endmacro %}
