.bc-sign-up-form-pane {
  background: $brickulator-color-background-light;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform .2s ease-out;
  width: 100%;
  will-change: transform;
  z-index: $brickulator-z-index-overlay + 1;
}

.bc-sign-up-form-pane--visible {
  transform: translateY(0);
  transition: transform .2s ease-in;
}

.bc-sign-up-form-pane__actions {
  padding: $brickulator-space-inset-squish-2-x;
}

#bc-sign-up-form {
  display: none;
  padding: $brickulator-space-inset-squish-2-x;
}

.bc-sign-up-form-pane__brickulator-plus-details {
  border-bottom: $brickulator-border-separator-on-light-primary;
}

.bc-sign-up-form-pane__brickulator-plus-details,
.bc-sign-up-form-pane__brickulator-free-details {
  margin: $brickulator-space-stack-3-x;
  padding: $brickulator-space-inset-2-x;
}
