{% macro portlet_price_per_piece() %}
    <div class="bc-portlet">
        <h2 class="bc-portlet__title">Price Per Piece</h2>
        <label for="ppp-msrp">MSRP</label>
        <input type="text" id="ppp-msrp" readonly="true">

        <label for="ppp-your-price">Your Price</label>
        <input type="text" id="ppp-your-price" readonly="true">
    </div>
{% endmacro %}
