.bc-list-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bc-list-group__link {
  color: $brickulator-color-link;
  display: block;
  padding: $brickulator-space-inset-squish-1-x;

  .bc-list-group--on-dark & {
    color: $brickulator-color-text-on-dark-primary;
  }
}

