{% macro sign_in_form(class) %}
  <form action="" method="POST" id="bc-sign-in-form">
    <div class="bc-field-group">
      {{ form_label(for="bc-sign-in-form-email", label="Email", class="bc-form-label--on-dark bc-form-label--size-m") }}
      {{ form_input(id="bc-sign-in-form-email", type="email", class="bc-form-input--size-m")}}
    </div>

    <div class="bc-field-group">
      {{ form_label(for="bc-sign-in-form-password", label="Password", class="bc-form-label--on-dark bc-form-label--size-m") }}
      {{ form_input(id="bc-sign-in-form-password", type="password", class="bc-form-input--size-m")}}
    </div>

    <div class="bc-sign-in-form__actions">
      {{ button(type="submit", text="Sign In", class="bc-button--primary 
    bc-button--size-m bc-sign-in-form__submit-button") }}
        <span class="bc-sign-in-form__or">or</span>
      {{ button(type="button", text="Sign Up", class="bc-button--link-style bc-button--link-style-on-dark 
      bc-button--size-m bc-show-sign-up-form") }}
    </div>
  </form>
{% endmacro %}
