$bc-form-field-height: 40px;


.bc-form-label {
  color: $brickulator-color-text-on-light-primary;
  font-size: $brickulator-font-size-m;
}

.bc-form-label--size-m {
  font-size: $brickulator-font-size-s;
}

.bc-form-label--on-dark {
  color: $brickulator-color-text-on-dark-primary;
}

.bc-form-input--size-m {
  font-size: $brickulator-font-size-m;
  height: auto;
  padding: $brickulator-space-inset-1-half-x;
}

input {
  background: $brickulator-color-background-control;
  border: $brickulator-border-control;
  border-radius: $brickulator-border-radius-control;
  font-size: $brickulator-font-size-xl;
  font-family: $brickulator-font-family-sans-serif;
  height: $bc-form-field-height;
  padding: $brickulator-space-inset-1-half-x;
}

.bc-form-input-prefix,
.bc-form-input-suffix {
  align-items: center;
  background: $brickulator-color-background-control;
  border: $brickulator-border-control;
  border-radius: $brickulator-border-radius-control 0 0 $brickulator-border-radius-control;
  font-family: $brickulator-font-family-sans-serif;
  font-size: $brickulator-font-size-xl;
  display: flex;
  height: $bc-form-field-height;
  padding: $brickulator-space-inset-1-half-x;
  border-right: 0;

  + input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  } 
}

.bc-form-input-suffix {
  border-left: 0;
  border-radius: 0 $brickulator-border-radius-control $brickulator-border-radius-control 0;
  border-right: $brickulator-border-control;
  order: 3;


  + input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  } 
}

.bc-form-input-wrap {
  display: flex;
}
