{% macro form(class, action) %}
  <form action="{{ action }}" class="bc-form{{ ' ' + class if class }}">
    {{ caller() }}
  </form>
{% endmacro %}

{% macro form_label(class, for, label) %}
  <label for="{{ for }}" class="bc-form__label{{ ' ' + class if class }}">{{ label | safe }}</label>
{% endmacro %}

{% macro form_input(
              class, 
              type="text", 
              id,
              name,
              autocomplete="off",
              autocorrect="off",
              autocapitalize="off",
              spellcheck="false",
              value,
              pattern,
              step,
              prefix,
              suffix,
              disabled=false,
              placeholder,
              wrapper_class,
              tabindex,
              clear_button,
              number_stepper=false,
              min,
              max) %}
  
  {% if clear_button %}
    {% if wrapper_class %}
      {% set wrapper_class = wrapper_class + ' bc-form-input-wrap--has-clear-button' %}
    {% else %}
      {% set wrapper_class = 'bc-form-input-wrap--has-clear-button' %}
    {% endif %}
  {% endif %}

  {% if name == undefined %}
    {% set name = id %}
  {% endif %}


  {% if prefix or suffix or clear_button or number_stepper %}
    <div class="bc-form-input-wrap{{ ' ' + wrapper_class if wrapper_class }}{{ ' bc-form-input-wrap--with-number-stepper' if number_stepper }}">
  {% endif %}
    {% if prefix %}
      <div class="bc-form-input-prefix">{{ prefix }}</div>
    {% endif %}
    {% if suffix %}
      <div class="bc-form-input-suffix">{{ suffix }}</div>
    {% endif %}
    {% if clear_button %}
      <div class="bc-form-input__clear-button-touch-wrap">
        {{ button(class="bc-form-input__clear-button", text="<span class='bc-form-input__clear-button-text'>&times;</span>") }}
      </div>
    {% endif %}
      <input type="{{ type }}" 
              class="bc-form-input{{ ' ' + class if class }}"
              id="{{ id }}" 
              name="{{ name }}"
              autocomplete="{{ autocomplete }}" 
              autocorrect="{{ autocorrect }}" 
              autocapitalize="{{ autocapitalize }}" 
              spellcheck="{{ spellcheck }}"
              {% if pattern %}
              pattern="{{ pattern }}"
              {% endif %}
              {% if step %}
              step="{{ step }}"
              {% endif %}
              {% if disabled %}
                disabled
              {% endif %}
              {% if placeholder %}
                placeholder="{{ placeholder }}"
              {% endif %}
              {% if tabindex %}
                tabindex="{{ tabindex }}"
              {% endif %}
              {% if value %}
                value="{{ value }}"
              {% endif %}
              {% if min %}
                min="{{ min }}"
              {% endif %}
              {% if max %}
                max="{{ max }}"
              {% endif %}
              >
    {% if number_stepper %}
      {{ button(class="bc-form-input__number-stepper-button bc-form-input__number-stepper-button--decrease", text="<span class='bc-form-input__number-stepper-button-text'>-</span>")}}
      {{ button(class="bc-form-input__number-stepper-button bc-form-input__number-stepper-button--increase", text="<span class='bc-form-input__number-stepper-button-text'>+</span>")}}
    {% endif %}
  {% if prefix or suffix or clear_button or number_stepper %}
    </div>
  {% endif %}
{% endmacro %}

{% macro form_field_group(class) %}
  <div class="bc-form-field-group{{ ' ' + class if class }}">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro form_select(
            class="",
            describedby=false,
            disabled=false,
            id=false,
            name=false,
            icon_path=false,
            invalid=false,
            options=[
                {
                    text: "Select an option",
                    value: ""
                },
                {
                    text: "Option 1",
                    value: "option_1"
                },
                {
                    text: "Option 2",
                    value: "option_2"
                }
            ]) %}
    <div class="bc-form__select{{ ' ' + class if class }}{{ ' bc-form__select-input--disabled' if disabled }}">
        <select class="bc-form__select-input"
                {% if id %}
                    id="{{ id }}"
                {% endif %}
                {% if name %}
                    name="{{ name }}"
                {% endif %}
                {{ 'disabled' if disabled }}
                {% if describedby %} aria-describedby="{{ describedby }}" {% endif %}
                {% if invalid %} aria-invalid="true" {% endif %}>
            {% for option in options %}
                {{ form_select_option_builder(option) }}
            {% endfor %}
        </select>
        <div class="bc-form__select-visual-wrap"></div>
        <span class="bc-form__select-open-indicator">
        </span>
    </div>
{% endmacro %}

{% macro form_select_option_builder(option) %}
    {% if option.children %}
        <optgroup label="{{ option.text }}">
            {% for child_option in option.children %}
                {{ form_select_option_builder(child_option) }}
            {% endfor %}
        </optgroup>
    {% else %}
        {{ form_select_option(option) }}
    {% endif %}

{% endmacro %}

{% macro form_select_option(option) %}
    <option class="bc-form__select-option" value="{{ option.value }}" {{ 'selected' if option.selected }}>{{ option.text }}</option>
{% endmacro %}


{% macro form_checkbox(
    id="checkbox-1",
    name,
    checked=false,
    label="Selected",
    class,
    describedby,
    value="on",
    disabled=false,
    attributes) %}
    {% if name == undefined %}
      {% set name = id %}
    {% endif %}
    <label for="{{ id }}" class="bc-form__checkbox">
      <input
        class="bc-form__checkbox-input"
        type="checkbox"
        name="{{ name }}"
        id="{{ id }}"
        {% if class %} class="{{ class }}" {% endif %}
        value="{{ value }}"
        {{ 'checked' if checked }}
        {{ 'disabled' if disabled }}
        {{ attributes | safe if attributes }}
        {% if describedby %} aria-describedby="{{ describedby }}" {% endif %}
      >
      <span class="bc-form__checkbox-visual"></span>
      <span class="bc-form__checkbox-label-text">{{ label }}</span>
    </label>
{% endmacro %}

{% macro form_radio_button(
    id="radio-1",
    name,
    value="on",
    checked=false,
    label="Selected",
    class,
    describedby,
    disabled=false,
    attributes) %}
  <label for="{{ id }}" class="bc-form__radio-button">
    <input
      class="bc-form__radio-button-input"
      type="radio"
      name="{{ name }}"
      id="{{ id }}"
      {% if class %} class="{{ class }}" {% endif %}
      {% if value %} value="{{ value }}" {% endif %}
      {{ 'checked' if checked }}
      {{ 'disabled' if disabled }}
      {{ attributes | safe if attributes }}
      {% if describedby %} aria-describedby="{{ describedby }}" {% endif %}
    >
    <span class="bc-form__radio-button-visual"></span>
    <span class="bc-form__radio-button-label-text">{{ label }}</span>
  </label>
{% endmacro %}

{% macro form_checkbox_group(class, label) %}
  <fieldset class="bc-form__checkbox-group{{ ' ' + class if class }}">
    {% if label %}
      <legend class="bc-form__checkbox-group-label">{{ label }}</legend>
    {% endif %}
    <div class="bc-form__checkbox-group-checkboxes">
      {{ caller() }}
    </div>
  </fieldset>
{% endmacro %}

{% macro form_radio_button_group(class, label) %}
  <fieldset class="bc-form__radio-button-group{{ ' ' + class if class }}">
    {% if label %}
      <legend class="bc-form__radio-button-group-label">{{ label }}</legend>
    {% endif %}
    <div class="bc-form__radio-button-group-checkboxes">
      {{ caller() }}
    </div>
  </fieldset>
{% endmacro %}
