$bc-form-field-height: 40px;
$bc-form-field-height-s: 36px;


.bc-form__label {
  color: $brickulator-color-text-on-light-primary;
  font-size: $brickulator-font-size-l;
  margin: $brickulator-space-stack-1-half-x;
}

.bc-form__label--size-s {
  font-size: $brickulator-font-size-s;
}

.bc-form__label--size-m {
  font-size: $brickulator-font-size-m;
}

.bc-form__label--on-dark {
  color: $brickulator-color-text-on-dark-primary;
}

.bc-form-input--size-m {
  font-size: $brickulator-font-size-l; // Keep this 16px or higher or iOS will start screen zooming
  height: auto;
  padding: $brickulator-space-inset-1-half-x;
}

// .StripeElement {
//   background-color: white;
//   height: 40px;
//   padding: 10px 12px;
//   border-radius: 4px;
//   border: 1px solid transparent;
//   box-shadow: 0 1px 3px 0 #e6ebf1;
//   -webkit-transition: box-shadow 150ms ease;
//   transition: box-shadow 150ms ease;
// }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.StripeElement,
input {
  background: $brickulator-color-background-control;
  border: $brickulator-border-control;
  border-radius: $brickulator-border-radius-control;
  font-family: $brickulator-font-family-sans-serif;
  font-size: $brickulator-font-size-xl;
  height: $bc-form-field-height;
  margin: 0;
  padding: $brickulator-space-inset-1-half-x;

  &:disabled {
    cursor: not-allowed;
    opacity: $brickulator-opacity-disabled;
  }

  .bc-form-input-wrap--with-number-stepper & {
    border-radius: 0;
    text-align: center;
  }
}

.StripeElement {
  height: 40px;
  padding: 4px;
}


.bc-form-input-wrap--button-suffix {
  .bc-form-input-suffix {
    padding: 0;
  }

  .bc-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 100%;
  }
}

.bc-form-input-prefix,
.bc-form-input-suffix {
  align-items: center;
  background: $brickulator-color-background-control;
  border: $brickulator-border-control;
  border-radius: $brickulator-border-radius-control 0 0 $brickulator-border-radius-control;
  border-right: 0;
  display: flex;
  font-family: $brickulator-font-family-sans-serif;
  font-size: $brickulator-font-size-xl;
  height: $bc-form-field-height;
  padding: $brickulator-space-inset-1-half-x;

  + input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .bc-form-input-wrap--size-m & {
    height: $bc-form-field-height-s;
  }
}

.bc-form-input-suffix {
  border-left: 0;
  border-radius: 0 $brickulator-border-radius-control $brickulator-border-radius-control 0;
  border-right: $brickulator-border-control;
  order: 3;


  + input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  } 
}

.bc-form-input-wrap {
  display: flex;
  position: relative;
}

.bc-form-field-group {
  margin: $brickulator-space-stack-2-x;
}

.bc-form-input__clear-button-touch-wrap {
  align-items: center;
  background: transparent;
  display: flex;
  height: 44px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: $brickulator-space-generic-1-half-x - 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .2s, visibility .2s;
  visibility: hidden;
  width: 44px;  

  .bc-form-input-wrap--show-clear-button & {
    opacity: 1;
    visibility: visible;
  }
}

.bc-form-input__clear-button {
  border-radius: 50%;
  height: 20px;
  padding: 0;
  width: 20px;
}

.bc-form-input__number-stepper-button {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: $bc-form-field-height;
  justify-content: center;
  text-align: center;
  width: $bc-form-field-height;
}

.bc-form-input__number-stepper-button-text {
  @include bc-text-crop-sans-serif;
  text-align: center;
}

.bc-form-input__number-stepper-button--decrease {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  order: -1;
}

.bc-form-input__number-stepper-button--increase {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.bc-form-input__clear-button-text {
  @include bc-text-crop-sans-serif;
  display: block;
  font-size: $brickulator-font-size-xl;
  left: .5px;
  position: relative;
  top: -.5px;
}

.bc-form__select {
  background-clip: padding-box;
  background-color: none;
  display: inline-block;
  height: $bc-form-field-height;
  max-width: 400px;
  position: relative;
  width: 100%;
}

.bc-form__select-input {
  appearance: none;
  background: none;
  border: 0;
  color: $brickulator-color-text-on-light-primary;
  cursor: pointer;
  font-family: $brickulator-font-family-sans-serif;
  font-size: $brickulator-font-size-l;
  height: 100%;
  overflow: hidden;
  padding: $brickulator-space-inset-1-x;
  position: relative;
  width: 100%;
  z-index: 10;


  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: $brickulator-opacity-disabled;
  }

  &:focus::-ms-value { // sass-lint:disable-line no-vendor-prefixes - have to target IE specifically here
    background: transparent;
    color: inherit;
  }

  &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes - have to target IE specifically here
    display: none;
  }
}

.bc-form__select-visual-wrap {
  background: $brickulator-color-background-control;
  background-clip: padding-box;
  border: $brickulator-border-control;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.bc-form__select-open-indicator {
  border-left: $brickulator-border-control;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
  right: -1px;
  text-align: center;
  top: 0;
  width: $bc-form-field-height;
  z-index: 5;

  &:before {
    border-color: $brickulator-color-brand transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -25%);
    width: 0;
  }
}

.bc-form__radio-button,
.bc-form__checkbox {
  align-items: center;
  background: none;
  cursor: pointer;
  display: inline-flex;
  width: 100%;
}

.bc-form__radio-button-visual,
.bc-form__checkbox-visual {
  background: $brickulator-color-background-control;
  border: $brickulator-border-control;
  border-radius: 50%;
  display: block;
  height: 30px;
  flex-shrink: 0;
  position: relative;
  width: 30px;

  .bc-form__checkbox-input:checked + & {
    background: $brickulator-color-brand;
    // border: $form-border-selected;

    &::after {
      background: transparent;
      border-bottom: solid 2px $brickulator-color-text-on-brand-primary;
      border-right: solid 2px $brickulator-color-text-on-brand-primary;
      content: '';
      font-size: $brickulator-font-size-xl;
      height: 10px;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -60%) rotate(45deg);
      width: 5px;
    }
  }
}

.bc-form__checkbox-visual {
  border-radius: $brickulator-border-radius-control;
}

.bc-form__radio-button-label-text,
.bc-form__checkbox-label-text {
  // @include bc-text-crop-sans-serif;
  color: $brickulator-color-text-on-light-primary;
  display: inline;
  font-size: $brickulator-font-size-m;
  margin: $brickulator-space-inline-left-1-x;
  position: relative;
}


.bc-form__radio-button-input,
.bc-form__checkbox-input {
  @include bc-accessibly-hidden;
  // background: none;
  // margin: 0;
  // vertical-align: middle;

  &:checked + .bc-form__radio-button-visual {
    // border: $form-border-selected;

    &::after {
      background: $brickulator-color-brand;
      // background: $form-input-background-selected;
      border-radius: 50%;
      content: '';
      height: 14px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 14px;
    }
  }



  // &:hover,
  // &.bc-form__input--hover {
  //   ~ .bc-form__checkbox-label-text,
  //   ~ .bc-form__radio-label-text {
  //     // color: $bc-interactive-color-hover;
  //     cursor: pointer;
  //   }
  // }

  // &:focus + .bc-form__radio-button-visual,
  // &.bc-form__input--focused + .bc-form__radio-button-visual {
  //   // box-shadow: $bc-box-shadow-focus;
  // }

  // &:focus + .bc-form-checkbox__visual,
  // &.bc-form__input--focused + .bc-form-checkbox__visual {
  //   // box-shadow: $bc-box-shadow-focus;
  // }

  &:disabled {
    ~ .bc-form__radio-button-label-text,
    ~ .bc-form__radio-button-visual,
    ~ .bc-form__checkbox-label-text,
    ~ .bc-form__checkbox-visual {
      cursor: not-allowed;
      opacity: $brickulator-opacity-disabled;
    }
  }
}

.bc-form__radio-button-group,
.bc-form__checkbox-group {
  border: 0;
  margin: $brickulator-space-stack-2-x;
  padding: 0;

  .bc-form__radio-button,
  .bc-form__checkbox {
    margin-bottom: $brickulator-space-generic-2-x;
    margin-left: $brickulator-space-generic-2-x;
  }
}

.bc-form__radio-button-group-label,
.bc-form__checkbox-group-label {
  font-size: $brickulator-font-size-m;
  margin: $brickulator-space-stack-1-half-x;
}
