.bc-long-form-text {
  line-height: $brickulator-line-height-long-form-text;

  h1 {
    font-size: $brickulator-font-size-xxl;
    margin: $brickulator-space-stack-1-x;
  }

  h2 {
    font-size: $brickulator-font-size-xl;
    margin: $brickulator-space-stack-1-x;
  }

  h3 {
    font-size: $brickulator-font-size-l;
    margin: $brickulator-space-stack-1-x;
  }

  h4 {
    font-size: $brickulator-font-size-m;
    margin: $brickulator-space-stack-1-x;
  }

  p {
    font-size: $brickulator-font-size-m;
    margin: $brickulator-space-stack-2-x;
  }

  ul {
    font-size: $brickulator-font-size-m;
    margin: $brickulator-space-stack-2-x;
    padding: $brickulator-space-inline-left-2-x;
  }

  li {
    margin: $brickulator-space-stack-1-half-x;
  }
}

.bc-long-form-text__cta {
  text-align: center;
}

.bc-long-form-text__cta-price {
  display: block;
  font-size: $brickulator-font-size-l;

  strike {
    font-size: $brickulator-font-size-s;
  }
}
