.bc-set-lookup-form {
  margin: $brickulator-space-stack-4-x;
}

.bc-set-lookup-form__tax-message {
  display: none;
  font-size: $brickulator-font-size-xs;
}

.bc-set-lookup-form__tax-message--visible {
  display: inline;
}
