.bc-set-lookup-form {
  margin: $brickulator-space-stack-4-x;
}

.bc-set-lookup-form__tax-message {
  display: none;
  font-size: $brickulator-font-size-xs;
}

.bc-set-lookup-form__tax-message--visible {
  display: inline;
}

.bc-set-lookup-form__submit-button {
  margin: 0 auto;
}

.bc-set-lookup-form__actions {
  text-align: center;
  margin: $brickulator-space-stack-1-x;
}
