.bc-set-lookup-form {
  margin: $brickulator-space-stack-4-x;
}

.bc-set-lookup-form__tax-message {
  display: none;
  font-size: $brickulator-font-size-xs;
}

.bc-set-lookup-form__tax-message--visible {
  display: block;
}

.bc-set-lookup-form__submit-button {
  margin: 0 auto;
}

.bc-set-lookup-form__actions {
  margin: $brickulator-space-stack-1-x;
  text-align: center;
}

.bc-set-lookup-form__purchase-inputs {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.bc-set-lookup-form__purchase-price-wrap {
  flex-grow: 1;
  width: 160px;
}

.bc-set-lookup-form__purchase-quantity-wrap {
  display: none;
  flex-grow: 0;
  margin-left: $brickulator-space-generic-2-x;
  width: 130px;

  .bc-set-lookup-form--purchase-quantity-visible & {
    display: block;
  }
}
