{% macro set_lookup_form() %}
  <form action="" class="bc-set-lookup-form" id="bc-set-lookup-form" novalidate>
    {% call form_field_group() %}
      <label class="bc-form__label" for="bc-set-lookup-form__set-number-input">Set Number</label>
      {% call autocomplete() %}
        {{ form_input(id="bc-set-lookup-form__set-number-input", name="setNumber", clear_button=true, pattern="[0-9]*") }}
      {% endcall %}
    {% endcall %}

    <div class="bc-set-lookup-form__purchase-inputs">
      {% call form_field_group(class="bc-set-lookup-form__purchase-price-wrap") %}
        <label class="bc-form__label" for="bc-set-lookup-form__purchase-price-input">
          Purchase Price
          <span class="bc-set-lookup-form__tax-message">
            + <span class="bc-set-lookup-form__tax-amount"></span>% sales tax
          </span>
        </label>
        {{ form_input(step="0.01", type="number", id="bc-set-lookup-form__purchase-price-input", name="purchasePrice", clear_button=true, prefix="$") }}
      {% endcall %}
      
      {% call form_field_group(class="bc-set-lookup-form__purchase-quantity-wrap") %}
        <label class="bc-form__label" for="bc-set-lookup-form__purchase-quantity-input">
          How Many?
        </label>
        {{ form_input(step="1", value="1", min="1", max="100", type="number", id="bc-set-lookup-form__purchase-quantity-input", name="purchaseQuantity", number_stepper=true) }}
      {% endcall %}
    </div>

    
    <div class="bc-set-lookup-form__actions">
      {{ button(text="Brickulate!", type="submit", class="bc-button--primary bc-set-lookup-form__submit-button") }}
    </div>
    <div class="bc-set-lookup-form__actions">
      <div class="bc-lookup-set-data-status">
        {{ spinner(text="Loading Set Data...", class="bc-spinner--loading-set-data") }}
        <div class="bc-lookup-set-data-status-message">
          <span class="bc-lookup-set-data-message">Set data updated</span> 
          <span class="bc-lookup-set-data-timestamp"></span>
        </div>
      </div>
      {# {{ button(text="Reset Form", type="reset", class="bc-button--size-s") }} #}
    </div>
  </form>
  
{% endmacro %}
