{% macro portlet(
            class=false,
            id,
            title,
            avg,
            fees,
            cost,
            profit) %}
  <div class="bc-portlet{{ ' ' + class if class }}" {% if id %} id="{{ id }}" {% endif %}>
      <a href="#" class="bc-portlet__external-link">
        <h2 class="bc-portlet__title">{{ title }}</h2>
      </a>
      <div class="bc-portlet__data-timestamp">
        As of <span class="bc-portlet__data-retrieved-at"></span>
      </div>
      <div class="bc-portlet__listings-count">
        <span class="bc-portlet__listings-count-amount"></span> <span class="bc-portlet__listings-count-suffix">available</span>
      </div>
      <div class="bc-portlet__empty-wrap">
        <span class="bc-portlet__empty-message">
          No Data Found
        </span>
      </div>
      <div class="bc-portlet__line-items">
        <div class="bc-portlet__line-item">
          <label class="bc-portlet__line-item-label">Label</label>
          <input class="bc-portlet__line-item-input" value="{{ avg }}" type="text" readonly="true" disabled>
        </div>
      </div>
      <div class="bc-portlet__profit">
        <input class="bc-portlet__profit-input" value="{{ profit }}" type="text" readonly="true" disabled>
      </div>
  </div>
{% endmacro %}
