.bc-portlet {
  background: $brickulator-color-background-portlet;
  border: $brickulator-border-control;
  display: flex;
  flex-direction: column;
  font-size: $brickulator-font-size-s;
  margin: $brickulator-space-stack-1-x;
}

.bc-portlet__title {
  // border-bottom: $brickulator-border-control;
  font-size: $brickulator-font-size-s;
  margin: 0;
  padding: $brickulator-space-inset-squish-1-half-x;
  text-align: center;
}

.bc-portlet__line-item {
  align-items: center;
  color: $brickulator-color-text-on-light-secondary;
  display: flex;
  justify-content: space-between;
  padding: $brickulator-space-inset-squish-1-half-x;
}

.bc-portlet__line-item-input {
  &,
  &:disabled {
    background: none;
    border: 0;
    color: $brickulator-color-text-on-light-secondary;
    cursor: auto;
    height: auto;
    flex: 1 0 60px;
    font-size: $brickulator-font-size-xs;
    margin: 0;
    opacity: 1;
    padding: 0;
    text-align: right;
  }
}

.bc-portlet__profit {
  padding: $brickulator-space-inset-1-half-x;
}

.bc-portlet__profit-input {
  &,
  &:disabled {
    background: none;
    border: 0;
    font-size: $brickulator-font-size-l;
    cursor: auto;
    margin: 0;
    opacity: 1;
    padding: 0;
    line-height: 1;
    height: auto;
    text-align: center;
  }
}

.bc-portlet__line-item-label {
  background: none;
  border: 0;
  font-size: $brickulator-font-size-xs;
  height: auto;
  padding: 0;
}

.bc-portlet__line-item-label-plus-member-snippet {
  display: none;

  .bc--plus-member-signed-in & {
    display: inline;
  }
}


// Show the "Cost w/taxes" label in search results
.bc-portlet__line-item-label-taxes-included-snippet {
  display: none;

  .bc--plus-member-taxes-enabled & {
    display: inline;
  }
}

.bc-portlet__listings-count,
.bc-portlet__data-timestamp {
  color: $brickulator-color-text-on-light-tertiary;
  font-size: $brickulator-font-size-xs;
  padding: $brickulator-space-inset-squish-1-half-x;
  padding-bottom: 0;
  text-align: center;
}

.bc-portlet__line-items {
  border-bottom: $brickulator-border-control;
  border-top: $brickulator-border-control;
  flex-grow: 2;
}

.bc-portlet__empty-wrap {
  display: none;
}


.bc-portlet--empty {
  color: $brickulator-color-text-on-light-secondary;
  opacity: 0.7;
  
  .bc-portlet__empty-wrap {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: $brickulator-font-size-s;
    justify-content: center;
  }

  .bc-portlet__empty-message {
    display: inline-block;
    padding: $brickulator-space-inset-1-x;
    text-align: center;
  }

  .bc-portlet__listings-count,
  .bc-portlet__line-items,
  .bc-portlet__profit {
    display: none;
  }
}

// Qty multiplier results - profit "each"
.bc-portlet__profit-each-input {
  &,
  &:disabled {
    background: transparent;
    border: 0;
    color: $brickulator-color-text-on-light-secondary;
    cursor: auto;
    display: none;
    font-size: $brickulator-font-size-xs;
    height: auto;
    margin: 0;
    opacity: 1;
    padding: 0;
    text-align: center;
  }

  .bc-portlet--with-quantity-multiplier & {
    display: block;
  }
}

