.bc-portlet {
  background: $brickulator-color-background-portlet;
  border: $brickulator-border-control;
  display: flex;
  flex-direction: column;
  font-size: $brickulator-font-size-s;
  margin: $brickulator-space-stack-1-x;
}

.bc-portlet__title {
  // border-bottom: $brickulator-border-control;
  font-size: $brickulator-font-size-s;
  margin: 0;
  padding: $brickulator-space-inset-squish-1-half-x;
  text-align: center;
}

.bc-portlet__line-item {
  align-items: center;
  color: $brickulator-color-text-on-light-secondary;
  display: flex;
  justify-content: space-between;
  padding: $brickulator-space-inset-squish-1-half-x;
}

.bc-portlet__line-item-input {
  background: none;
  border: 0;
  color: $brickulator-color-text-on-light-secondary;
  height: auto;
  flex: 1 0 60px;
  font-size: $brickulator-font-size-xs;
  margin: 0;
  padding: 0;
  text-align: right;
}

.bc-portlet__profit {
  padding: $brickulator-space-inset-1-half-x;
}

.bc-portlet__profit-input {
  background: none;
  border: 0;
  font-size: $brickulator-font-size-l;
  margin: 0;
  padding: 0;
  line-height: 1;
  height: auto;
  text-align: center;
}

.bc-portlet__line-item-label {
  background: none;
  border: 0;
  height: auto;
  font-size: $brickulator-font-size-xs;
  padding: 0;
}

.bc-portlet__listings-count,
.bc-portlet__data-timestamp {
  color: $brickulator-color-text-on-light-tertiary;
  font-size: $brickulator-font-size-xs;
  padding: $brickulator-space-inset-squish-1-half-x;
  padding-bottom: 0;
  text-align: center;
}

.bc-portlet__line-items {
  border-bottom: $brickulator-border-control;
  border-top: $brickulator-border-control;
  flex-grow: 2;
}

.bc-portlet__empty-wrap {
  display: none;
}


.bc-portlet--empty {
  color: $brickulator-color-text-on-light-secondary;
  opacity: 0.7;
  
  .bc-portlet__empty-wrap {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: $brickulator-font-size-xl;
    justify-content: center;
  }

  .bc-portlet__empty-message {
    display: inline-block;
    padding: $brickulator-space-inset-1-x;
    text-align: center;
  }

  .bc-portlet__listings-count,
  .bc-portlet__line-items,
  .bc-portlet__profit {
    display: none;
  }
}


