{% macro portlet(
            class=false,
            id,
            title,
            avg,
            fees,
            cost,
            profit) %}
  <div class="bc-portlet{{ ' ' + class if class }}" {% if id %} id="{{ id }}" {% endif %}>
      <h2 class="bc-portlet__title">{{ title }}</h2>
      <div class="bc-portlet__line-items">
        <div class="bc-portlet__line-item">
          <label class="bc-portlet__line-item-label">Label</label>
          <input class="bc-portlet__line-item-input" value="{{ avg }}" type="text"readonly="true">
        </div>
      </div>
      <div class="bc-portlet__profit">
        <input class="bc-portlet__profit-input" value="{{ profit }}" type="text" readonly="true">
      </div>
  </div>
{% endmacro %}
