{% macro autocomplete() %}
  <div class="bc-autocomplete">
    <li class="bc-autocomplete__item bc-autocomplete__item--template">
      <a href="" class="bc-autocomplete__item-link">
        <span class="bc-autocomplete__item-link-text">
          Suggest Something Here
        </span>
        <small class="bc-autocomplete__item-metadata">And something smaller here</small>
      </a>
    </li>
  </div>
{% endmacro %}
