.bc-autocomplete {
  position: relative;
  z-index: $brickulator-z-index-mountain;
}

.bc-autocomplete__list {
  background: $brickulator-color-background-panel;
  border: $brickulator-border-control;
  border-top: 0;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;

  &.bc-autocomplete--visible {
    display: block;
  }
}

.bc-autocomplete__input-metadata {
  align-items: center;
  display: none;
  justify-content: flex-end;
  pointer-events: none;
  padding-right: 2em;
  position: absolute;
  right: $brickulator-space-generic-1-x;
  transform: translateY(-50%);
  top: 50%;
  width: calc(100% - 90px);

  .bc-autocomplete--with-value & {
    display: flex;
  }
}

.bc-button.bc-autocomplete__clear-input {
  display: none;
  margin-left: $brickulator-space-generic-1-x;

  .bc-autocomplete--with-value & {
    display: block;
  }
}


.bc-autocomplete__input-value {
  color: $brickulator-color-text-on-light-secondary;
  font-size: $brickulator-font-size-s;
  text-align: right;
}

.bc-autocomplete__item-link {
  align-items: center;
  color: $brickulator-color-text-on-light-primary;
  display: flex;
  padding: $brickulator-space-inset-2-x;
  padding-left: $brickulator-space-generic-1-x;
  padding-right: $brickulator-space-generic-1-x;
  text-decoration: none;
  font-size: $brickulator-font-size-l;
}

.bc-autocomplete__item-link-text {
  @include bc-text-crop-sans-serif;
  white-space: nowrap;
}

.bc-autocomplete__item-metadata {
  @include bc-text-crop-sans-serif;
  color: $brickulator-color-text-on-light-secondary;
  margin: $brickulator-space-inline-left-1-half-x;
}
