.bc-portlet-grid {
  display: flex;
  flex-wrap: wrap;
  padding: $brickulator-space-inset-squish-1-x;
  justify-content: space-between;
  margin: $brickulator-space-stack-2-x;

  > * {
    width: 48%;
  }
}
