$bc-site-menu-max-width: 320px;

.bc-site-menu {
  background: $brickulator-color-background-overlay-transparent;
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: background .2s ease-out;
  width: 100%;
  z-index: $brickulator-z-index-overlay;

  .bc-site-menu--visible & {
    background: $brickulator-color-background-overlay-opaque;
    pointer-events: auto;
    transition: background .2s ease-in;
  }
}

.bc-site-menu__column {
  height: 100vh;
  left: auto;
  max-width: $bc-site-menu-max-width;
  pointer-events: auto; 
  position: absolute;
  right: 0;
  transform: translateX(100vw);
  transition: transform .2s ease-out;
  width: 100vw;
  will-change: transform;
  z-index: $brickulator-z-index-overlay + 1;

  .bc-site-menu--visible & {
    transform: translateX(0);
    transition: transform .2s ease-in;
  }
}

.bc-site-menu__inner {
  background: $brickulator-color-background-dark;
  // height: 100vh;
  bottom: 0;
  left: 0;
  pointer-events: auto; 
  position: absolute;
  top: 0;
  // transform: translateX(30vw); //Make menu visible on reload for debugging
  width: 100%;
}

.bc--user-signed-out .bc-site-menu__list-item--sign-out {
  display: none; // Don't show the sign out link no one's signed in
}

@media screen and (min-width: ($bc-site-menu-max-width / 1)) {
  .bc-site-menu--visible .bc-site-menu__column {
    // transform: translateX(calc(100vw + #{$bc-site-menu-max-width}));
  }
}


.bc-site-menu__actions {
  display: flex;
  justify-content: flex-end;
  padding: $brickulator-space-inset-squish-2-x;
}

.bc-site-menu__list-group {
  font-size: $brickulator-font-size-xl;

  .bc-list-group__link {
    border-top: $brickulator-border-separator-on-dark-primary;
    padding: $brickulator-space-inset-squish-2-x;
    text-decoration: none;
  }
}
