{% macro portlet_part_out_brick_owl(class=false) %}
  <div class="bc-portlet bc-portlet--brick-owl-part-out">
      <h2 class="bc-portlet__title">Brick Owl Part Out Value</h2>
      <label for="bo-po-new">New</label>
      <input type="text" id="bo-po-new" readonly="true">
      <label for="bo-po-cost-new">Cost</label>
      <input type="text" id="bo-po-cost-new" readonly="true">
      <label for="bo-po-profit-new">Profit</label>
      <input type="text" id="bo-po-profit-new" readonly="true">

      <label for="bo-po-new">Used</label>
      <input type="text" id="bo-po-used" readonly="true">
      <label for="bo-po-cost-used">Cost</label>
      <input type="text" id="bo-po-cost-used" readonly="true">
      <label for="bo-po-profit-used">Profit</label>
      <input type="text" id="bo-po-profit-used" readonly="true">
  </div>
{% endmacro %}
