.bc-reset-password-form {
  margin: 0 auto;
  max-width: 400px;
  padding: $brickulator-space-inset-1-x;
}

.bc-reset-password-form__inner {
  .bc-reset-password-form--succeeded & {
    display: none;
  }
}

.bc-reset-password-form--success-message {
  display: none;

  .bc-reset-password-form--succeeded & {
    display: block;
  }
}
