{% macro reset_password_form() %}
  <form name="bcResetPasswordForm" class="bc-reset-password-form" action="">
    <div class="bc-reset-password-form__inner">
      {% call form_field_group() %}
        {{ form_label(label="New Password") }}
        {{ form_input(name="newPassword", type="password") }}
      {% endcall %}

      {% call form_field_group() %}
        {{ form_label(label="Confirm New Password") }}
        {{ form_input(name="newPasswordConfirm", type="password") }}
      {% endcall %}

      {{ button(type="submit", text="Reset Password", class="bc-button--primary") }}
    </div>

    <div class="bc-reset-password-form--success-message bc-long-form-text">
      <h1>Password reset successful!</h1>
      <p>
        You can now <a href="/">Go back to Brickulator</a> and sign in using your new password.
      </p>
    </div>
  </form>
{% endmacro %}
