{% macro portlet_section_header(title="Complete Set Values") %}
  <div class="bc-portlet-section-header">
    <span class="bc-portlet-section-header__pre"></span>
    <span class="bc-portlet-section-header__text">
      {{ title }}
    </span>
    <span class="bc-portlet-section-header__post"></span>
  </div>
{% endmacro %}
