.bc-portlet-section-header {
  align-items: center;
  display: flex;
  color: $brickulator-color-brand;
  font-size: $brickulator-font-size-m;
  font-family: $brickulator-font-family-monospace;
  justify-content: space-between;
  padding: $brickulator-space-inset-squish-1-x;
  text-transform: uppercase;
  text-align: center;

  .bc-tag {
    display: none;
    margin-right: $brickulator-space-generic-1-half-x;
  }

  &.bc-portlet-section-header--plus-member .bc-tag {
    display: block;
  }
}

.bc-portlet-section-header__text {
  flex-grow: 0;
  flex-shrink: 0;
  padding: $brickulator-space-inset-1-half-x;
  padding-bottom: 0;
  padding-top: 0;
  white-space: nowrap;

}

.bc-portlet-section-header__pre,
.bc-portlet-section-header__post {
  border-top: $brickulator-border-control;
  height: 1px;
  flex-grow: 1px;
  width: 100%;
}
