{% macro logo(class) %}
  <div class="bc-logo{{ ' ' + class if class }}">
    <div class="bc-logo__block bc-logo__block--top">
      <div class="bc-logo__studs">
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
      </div>
    </div>
    <div class="bc-logo__block bc-logo__block--bottom">
      <div class="bc-logo__studs">
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
        <div class="bc-logo__stud"></div>
      </div>
    </div>
  </div>
{% endmacro %}
