{% macro site_footer() %}
  <div class="bc-site-footer">
    <p class="bc-site-footer__legal">
      <span class="bc-site-footer__copyright-symbol">&copy;</span>2018 Brickulator
    </p>
    <div class="bc-site-footer__links">
      <a href="terms-and-conditions.html" class="bc-tos--show-trigger">Terms and Conditions</a>
      <a href="https://twitter.com/brickulator">Twitter</a>
    </div>
  </div>
{% endmacro %}
