{% macro site_footer() %}
  <div class="bc-site-footer">
    <p class="bc-site-footer__legal">
      Site design and functionality &copy;2018 Brickulator
    </p>
    <div class="site-footer__links">
      <a href="terms-and-conditions.html" class="bc-tos--show-trigger">Terms and Conditions</a>
    </div>
  </div>
{% endmacro %}
