{% macro site_footer() %}
  <div class="bc-site-footer">
    Brickulator design and functionality &copy; 2018<br/>
    <a href="terms-of-service.html" class="bc-tos--show-trigger">Terms Of Service</a>
  </div>
{% endmacro %}
