{% set deal_of_the_day_link="http://amzn.to/2p6StSz" %}
{% set deal_of_the_day_image="https://images-na.ssl-images-amazon.com/images/I/51DhAz2JhvL._SL250_.jpg" %}
{% set deal_of_the_day_product_name="LEGO Holiday Easter Egg Hunt Building Kit (145 Piece)" %}

<a href="{{ deal_of_the_day_link }}" class="bc-results-interstitial__amazon-deal-of-the-day">
  <h1 class="bc-results-interstitial__amazon-deal-of-the-day-title">{{ deal_of_the_day_product_name }}</h1>
  <img class="bc-results-interstitial__amazon-deal-of-the-day-image" src="{{ deal_of_the_day_image }}" alt="">
  <h2 class="bc-results-interstitial__amazon-deal-of-the-day-subtitle">Brickulator's Amazon Deal of the Day</h2>
  <p class="bc-results-interstitial__disclaimer">These affiliate links help support the site.</p>
</a>
