{% extends 'templates/base.njk' %}
  {% block body %}
    {{ bc.site_header() }}
    {# {{ bc.ad_header() }} #}
    <div id="bc-lookup">
      {{ bc.set_lookup_form() }}
      {{ bc.newsletter_sign_up_form() }}
    </div>
    <div id="bc-results">
      {{ bc.set_summary(
          number="75150-1",
          title="Vader's TIE Advanced vs. A-wing Starfighter",
          msrp="89.99",
          pcs="702",
          year="2016"
        ) }}
      <div class="bc-portlet-section-wrapper">
        
      </div>
      {{ bc.portlet(id="bc-portlet-template") }}
      {{ bc.portlet_section_header(id="bc-portlet-section-header-template") }}
      {{ bc.portlet_grid(id="bc-portlet-grid-template") }}
      <div class="bc-end-of-results-actions">
        {{ bc.button(text="Back To Lookup", class="bc-show-lookup-form") }}
      </div>
    </div>
    {{ bc.site_menu() }}
    {{ bc.overlay() }}
  {% endblock %}

  {% block closing_body_assets %}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="scripts/dependencies/timeago.min.js"></script>
    {# <script type="text/javascript" src="scripts/brickulator.js"></script> #}
    <script type="text/javascript" src="scripts/brickulator.min.js"></script>
  {% endblock %}
