{% extends 'templates/base.njk' %}
  {% block body %}
    {{ bc.site_header(show_actions=false) }}
    {{ bc.reset_password_form() }}
  {% endblock %}

  {% block closing_body_assets %}
    <script type="text/javascript" src="scripts/subpage_scripts/reset_password_form.js"></script>
    {# <script type="text/javascript" src="scripts/brickulator.min.js"></script> #}
  {% endblock %}
