{% import 'components/brickulator.njk' as bc with context %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="The world's first Lego reseller marketplace comparison tool. Wanna resell that set? Brickulate before you buy!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BRICKULATOR</title>
        <link rel="stylesheet" href="styles/brickulator.css">
        {% block head_content_append %}{% endblock head_content_append %}
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block closing_body_assets %}{% endblock closing_body_assets %}
        {% call bc.toast_message_wrapper() %}
            {{ bc.toast_message(id="bc-toast-message-js-template", type="warning", text="You'd better watch out") }}
            {{ bc.toast_message(type="success", text="Signed in. Welcome back.") }}
            {{ bc.toast_message(type="error", text="Subscription failed. Please try again later.") }}
            {{ bc.toast_message(text="Nothing to see here. Move along.", dismissible=false) }}
        {% endcall %}
    </body>
</html>
