{% import 'components/brickulator.njk' as bc with context %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brick Calculator WIP - POC</title>
        <link rel="stylesheet" href="styles/brickulator.css">
        {% block head_content_append %}{% endblock head_content_append %}
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block closing_body_assets %}{% endblock closing_body_assets %}
    </body>
</html>
