.bc-newsletter-sign-up-form {
  margin: $brickulator-space-stack-4-x;
  padding-top: $brickulator-space-generic-2-x;

  .bc--user-signed-in & {
    display: none;
  }
}

.bc-newsletter-sign-up-form--hidden {
  display: none;
}
