.bc-user-settings-pane {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background: $brickulator-color-background-light;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding-bottom: 80px; // Ensure the bottom of the pane is visible above the iOS browser chrome
  pointer-events: auto;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform .2s ease-out;
  width: 100%;
  will-change: transform;
  z-index: $brickulator-z-index-overlay + 100;
}

.bc-user-settings-pane--visible {
  transform: translateX(0);
  transition: transform .2s ease-in;
}

.bc-user-settings-pane__actions {
  display: flex;
  padding: $brickulator-space-inset-squish-2-x;
}

#bc-user-settings-form {
  padding: $brickulator-space-inset-2-x;
}

#bc-user-settings-taxRate {
  max-width: 80px;
}

// Plus Member Settings
.bc-user-settings__plus-member-settings {
  position: relative;
}

.bc-user-settings__plus-member-settings-inner {

  .bc-user-settings__plus-member-settings--disabled & {
    .bc-form__checkbox-group-label,
    .bc-form__label,
    .bc-form-input-suffix,
    .bc-long-form-text {
      opacity: $brickulator-opacity-disabled;
    }
  }
}

// Upsell messaging
.bc-user-settings__plus-member-settings-signed-out {
  background: $brickulator-color-background-panel;
  border-radius: $brickulator-border-radius-panel;
  display: none;
  opacity: 1;
  position: absolute;
  padding: $brickulator-space-inset-2-x;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 100;

  .bc-user-settings__plus-member-settings--disabled & {
    display: block;
  }
}
