{% macro user_settings_pane(class) %}
  <div class="bc-user-settings-pane{{ ' ' + class if class }}">
    <div class="bc-user-settings-pane__actions">
      {{ button(text="< Back", class="bc-button--size-s bc-user-settings-pane-hide-trigger") }}
    </div>
    <form action="" id="bc-user-settings-form" name="bcUserSettings">
      {% call form_field_group() %}
        {{ form_label(label="Country", for="bc-user-settings-country") }}
        {{ form_select(id="bc-user-settings-country", name="country") }}
      {% endcall %}

      {% call form_field_group() %}
        {{ form_label(label="Currency", for="bc-user-settings-currency") }}
        {{ form_select(id="bc-user-settings-currency", name="currency") }}
      {% endcall %}

      <div class="bc-user-settings__plus-member-settings bc-user-settings__plus-member-settings--disabled">
        <div class="bc-long-form-text">
          <h3>Taxes {{ tag() }}</h3>
        </div>
        {% call form_field_group() %}
          {{ form_checkbox(label="Automatically add taxes to purchase price", id="bc-user-settings-enableTaxes", disabled=true) }}
        {% endcall %}

        {% call form_field_group() %}
          {{ form_label(label="Tax Rate", for="bc-user-settings-taxRate") }}
          {{ form_input(step="0.01", type="number", suffix="%", id="bc-user-settings-taxRate", disabled=true)}}
        {% endcall %}

        <div class="bc-long-form-text">
          <h3>Results Settings {{ tag() }}</h3>
          <p>Uncheck any results you don't want to display when you lookup set values.</p>
        </div>
        {% call form_checkbox_group(label="Current Listings, New") %}
          {{ form_checkbox(label="Bricklink Listings", id="bc-user-settings-blCLN", disabled=true, attributes="data-portlet-config-checkbox-value='blCLN'") }}
          {{ form_checkbox(label="Brick Owl Listings", id="bc-user-settings-boCLN", disabled=true, attributes="data-portlet-config-checkbox-value='boCLN'") }}
          {{ form_checkbox(label="eBay Listings",      id="bc-user-settings-eCLN", disabled=true, attributes="data-portlet-config-checkbox-value='eCLN'") }}
        {% endcall %}

        {% call form_checkbox_group(label="Current Listings, Used") %}
          {{ form_checkbox(label="Bricklink Listings", id="bc-user-settings-blCLU", disabled=true, attributes="data-portlet-config-checkbox-value='blCLU'") }}
          {{ form_checkbox(label="Brick Owl Listings", id="bc-user-settings-boCLU", disabled=true, attributes="data-portlet-config-checkbox-value='boCLU'") }}
          {{ form_checkbox(label="eBay Listings",      id="bc-user-settings-eCLU", disabled=true, attributes="data-portlet-config-checkbox-value='eCLU'") }}
        {% endcall %}

        {% call form_checkbox_group(label="Sold Values, New") %}
          {{ form_checkbox(label="Bricklink Values", id="bc-user-settings-blSVN", disabled=true, attributes="data-portlet-config-checkbox-value='blSVN'") }}
          {{ form_checkbox(label="Brick Owl Values", id="bc-user-settings-boSVN", disabled=true, attributes="data-portlet-config-checkbox-value='boSVN'") }}
          {{ form_checkbox(label="eBay Values",      id="bc-user-settings-eSVN", disabled=true, attributes="data-portlet-config-checkbox-value='eSVN'") }}
        {% endcall %}

        {% call form_checkbox_group(label="Sold Values, Used") %}
          {{ form_checkbox(label="Bricklink Values", id="bc-user-settings-blSVU", disabled=true, attributes="data-portlet-config-checkbox-value='blSVU'") }}
          {{ form_checkbox(label="Brick Owl Values", id="bc-user-settings-boSVU", disabled=true, attributes="data-portlet-config-checkbox-value='boSVU'") }}
          {{ form_checkbox(label="eBay Values",      id="bc-user-settings-eSVU", disabled=true, attributes="data-portlet-config-checkbox-value='eSVU'") }}
        {% endcall %}
      </div>

      {{ button(type="submit", name="bcUserSettingsSubmit", text="Save Settings", class="bc-button--primary")}}
    </form>
  </div>
{% endmacro %}
