.bc-user-settings-pane {
  background: $brickulator-color-background-light;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transition: transform .2s ease-out;
  width: 100%;
  will-change: transform;
  z-index: $brickulator-z-index-overlay + 1;
}

.bc-user-settings-pane--visible {
  transform: translateX(0);
  transition: transform .2s ease-in;
}

.bc-user-settings-pane__actions {
  display: flex;
  padding: $brickulator-space-inset-squish-2-x;
}

#bc-user-settings-form {
  padding: $brickulator-space-inset-2-x;
}

#bc-user-settings-taxRate {
  max-width: 80px;
}
