@import '../tokens/tokens.scss';
@import 'shared/utils.scss';
@import '../components/autocomplete/autocomplete';
@import '../components/button/button';
@import '../components/form/form';
@import '../components/set_summary/set_summary';
@import '../components/portlet_section_header/portlet_section_header';
@import '../components/portlet_grid/portlet_grid';
@import '../components/portlet/portlet';
@import '../components/site_menu/site_menu';
@import '../components/spinner/spinner';
@import '../components/overlay/overlay';
@import '../components/sign_up_form/sign_up_form';
@import '../components/sign_in_form/sign_in_form';
@import '../components/set_lookup_form/set_lookup_form';

body {
  background: $brickulator-color-background-light;
  background: $brickulator-color-background-light;
  font-family: $brickulator-font-family-sans-serif;
  line-height: $brickulator-line-height-body;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bc-site-header {
  align-items: center;
  border-bottom: $brickulator-border-control;
  display: flex;
  padding: $brickulator-space-inset-1-half-x;
  justify-content: space-between;
  margin-bottom: $brickulator-space-stack-1-half-x;
}

.bc-site-header__title {
  color: $brickulator-color-brand;
  font-family: $brickulator-font-family-monospace;
  font-size: $brickulator-font-size-m;
  letter-spacing: 0.05em;
  margin: 0;
  text-align: center;
}

#bc-lookup,
#bc-results {
  max-width: 500px;
  margin: 0 auto;
}

label,
input {
  display: block;
}

input {
  font-size: 24px;
  margin-bottom: 24px;
  width: 100%;
}

#bc-results {
  display: none;
  padding-top: 0;
}

#bc-lookup {
  // display: none;
  padding: $brickulator-space-inset-1-x;
}

.bc-show-lookup-form {
  visibility: hidden;
}

.bc--show-values {
  #bc-results {
    display: block;
  }

  #bc-lookup {
    display: none;
  }

  .bc-show-lookup-form {
    visibility: visible;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bc-field-group {
  position: relative;
}

#bc-results__set-title {
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 0 8px;
}

.bc-value-lookup-form__actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bc-lookup-set-data-status-message {
  color: $brickulator-color-text-on-light-secondary;
  font-size: $brickulator-font-size-xs;
}

.bc-lookup-set-data-status-message--hidden {
  display: none;
}

.bc-end-of-results-actions {
  margin: $brickulator-space-stack-4-x;
  padding: $brickulator-space-inset-1-x;
}
