@import '../components/autocomplete/autocomplete';

$color-lego-bright-orange: #FE8A18;
$color-lego-dark-orange: #A95500;

body {
  background: $color-lego-dark-orange;
  font-family: "Hiragino Sans", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#bc-lookup,
#bc-results {
  max-width: 500px;
  margin: 0 auto;
}

label,
input {
  display: block;
}

input,
button {
  font-size: 24px;
  margin-bottom: 24px;
  width: 100%;
}

#bc-results {
  display: none;
}

.bc--show-values {
  #bc-results {
    display: block;
  }

  #bc-lookup {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bc-field-group {
  position: relative;
}

#bc-results__set-title {
  border: 0;
  background: transparent;
  font-size: 16px;
  padding: 0 8px;
}
