@import '../tokens/tokens.scss';
@import 'shared/utils.scss';
@import '../components/reset_password_form/reset_password_form';


body {
  background: $brickulator-color-background-light;
  background: $brickulator-color-background-light;
  font-family: $brickulator-font-family-sans-serif;
  line-height: $brickulator-line-height-body;
  margin: 0;
  padding: 0;

  &.bc-site-menu--visible {
    overflow: hidden; // Prevent scrolling of body when menu is open
  }
}

* {
  box-sizing: border-box;
}
