{% macro forgot_password_form() %}
  <form class="bc-forgot-password-form" name="bcForgotPasswordForm" novalidate>
    <div class="bc-long-form-text">
      <p>
        Enter your email address and we'll send you a link to reset your password.
      </p>
    </div>
    {% call form_field_group() %}
      {{ form_label(label="Email", for="bc-forgot-password-form__email") }}
      {{ form_input(id="bc-forgot-password-form__email", name="email", type="email") }}
    {% endcall %}
    
    {{ button(text="Reset Password", type="submit", class="bc-button--primary") }}
  </form>
  
{% endmacro %}
